# Node modules
node_modules/

# Environment variables
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln

# Swap files
*.sw?

# Operating System files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# Temporary files
tmp/
temp/
